{% extends 'blog/base.html' %}
{% block content %}
  <article class="media content-section">
    <a class="btn btn-outline-secondary" href="{% url "health-add" %}">新的记录</a>
  </article>

  {% for record in records %}
   <article class="media content-section">
     <div class="media-body">
       <div class="article-title">
         <h2>
           <font font size='3'>
           <a class="article-title ml-2" href="{% url 'health-detail' record.id %}">记录日期:{{ record.date }} ｜</a>
           <a class="article-title" href="{% url 'health-detail' record.id %}">睡眠时间:{{ record.get_bed_time }} - {{ record.get_up_time }} ｜</a>
           <a class="article-title" href="{% url 'health-detail' record.id %}">深睡时长:{{ record.deep_time }} ｜做梦时长:{{ record.dream_time }}</a>
           </font>
         </h2>
       </div>
     </div>
   </article>
   {% endfor %}


   {% if is_paginated %}
     {% if page_obj.has_previous %}
       <a class="btn btn-outline-info mb-4" href="?page=1">首页</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">前页</a>
     {% endif %}

     {% for num in page_obj.paginator.page_range %}
       {% if page_obj.number == num %}
         <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
         <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% endif %}
     {% endfor %}

     {% if page_obj.has_next %}
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">后页</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">末页</a>
     {% endif %}
   {% endif %}

{% endblock content %}
