{% extends 'blog/base.html' %}
{% block content %}
   <article class="media content-section">
     <div class="media-body">
       <div class="article-title">
         <h2><a class="mr-2" href="#">{{ lane.id }}</a>- <a class="article-title mr-2" href="#">{{lane.flight_name}}</a><a class="article-title" href="#">{{ lane.flight_num }}</a></h2>
         <div class="article-metadata">
           {% if lane.author == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'lane-update' lane.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'lane-delete' lane.id %}">Delete</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'lane-add' lane.id %}">Add</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'flight-home' %}">Back</a>
           {% endif %}
         </div>
       </div>
       <div class="">
         <small class="mr-2">{{ lane.flight_date }}</small>
         <small class="text-muted mr-3">{{ lane.takeoff_time }} - {{ lane.arrive_time }}</small>
         <small class="text-muted mr-3">{{ lane.provenance }} - {{ lane.destination }}</small>
       </div>

       <div class="">
         <small class="text-muted mr-3">{{ lane.author }}</small>
       </div>
       <div class="">
         <p>{{ lane.note }}</p>
       </div>
       <div class="">
          {% if lane.picture.url != '' %}
            <img class="img-thumbnail" src="{{ lane.picture.url }}" alt="">
            {% for photo in photos %}
              <img class="img-thumbnail" src="{{ photo.image.url }}" alt="">
            {% endfor %}
          {% endif %}
       </div>
     </div>
   </article>

   {% for flash in flashs %}
   <article class="media content-section">
    <div class="">
       <div class="">
         <div class="">
           <a>{{ flash.update_time }}</a>
           <a>{{ flash.story }}</a>
         </div>
         <img class="img-thumbnail" src="{{ flash.picture.url }}" alt="...">
       </div>
    </div>
  </article>
  {% endfor %}


{% endblock content %}
