{% extends 'blog/base.html' %}
{% block content %}
   <article class="media content-section">
     <div class="media-body">
       <div class="article-title">
         <h2><a class="mr-2" href="#">{{ lane.id }}</a>- <a class="article-title mr-2" href="#">{{lane.flight_name}}</a><a class="article-title" href="#">{{ lane.flight_num }}</a></h2>
         <div class="article-metadata">
           {% if lane.author == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'lane-update' lane.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'lane-delete' lane.id %}">Delete</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'lane-add' lane.id %}">Add</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'flight-home' %}">Back</a>
           {% endif %}
         </div>
       </div>
       <div class="">
         <small class="mr-2">{{ lane.flight_date }}</small>
         <small class="text-muted mr-3">{{ lane.takeoff_time }} - {{ lane.arrive_time }}</small>
         <small class="text-muted mr-3">{{ lane.provenance }} - {{ lane.destination }}</small>
       </div>

       <div class="">
         <small class="text-muted mr-3">{{ lane.author }}</small>
       </div>
       <div class="">
         <p>{{ lane.note }}</p>
       </div>
       <div class="">
          {% if lane.picture.url != '' %}
            <img class="img-responsive" src="{{ lane.picture.url }}" alt="">
            {% for photo in photos %}
              <img class="img-responsive" src="{{ photo.image.url }}" alt="">
            {% endfor %}
          {% endif %}
       </div>
     </div>
   </article>

   <article class="media content-section">
     <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
     <div class="carousel-indicators">
       <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
       <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
       <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
     </div>
     <div class="carousel-inner">
       <div class="carousel-item active" data-bs-interval="10000">
         <img src="{{ lane.picture.url }} " class="d-block w-10000" alt="...">
         <div class="carousel-caption d-none d-md-block">
           <h5>{{ update_time }}</h5>
           <p>{{ flash.story }}</p>
         </div>
       </div>
     </div>
     {% for flash in flashs %}
     <div class="carousel-inner">
       <div class="carousel-item" data-bs-interval="10000">
         <img src="{{ flash.picture.url }}" class="d-block w-10000" alt="...">
         <div class="carousel-caption d-none d-md-block">
           <h5>{{ flash.update_time }}</h5>
           <p>{{ flash.story }}</p>
         </div>
       </div>
     </div>
     {% endfor %}
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
     </button>
   </div>
   </article>
{% endblock content %}
