{% extends 'blog/base.html' %}
{% block content %}
  <article class="media content-section">
    <a class="btn btn-outline-secondary" href="{% url 'stiver-create' %}">新的账单</a>
  </article>
    <!--
      <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    //-->
  {% for stiver in stivers %}
   <article class="media content-section">
     <div class="media-body">
       <div class="article-title">
         <h2>
           <font font size='5'>
             <a class="article-title ml-2" href="{% url 'stiver-detail' stiver.id %}">{{ stiver.item }}</a>
             <a class="article-title ml-4 mr-4" href="">💰</a>
             <a class="article-title mr-2" href="">{{ stiver.money }}</a>
           </font>
           <font font size = '3'>

             <small class="text-default ml-2">By</small>
             <a class="article-title mr-2">{{ stiver.author }}</a>

             <small class="text-default ml-2">@</small>
             <a class="article-title mr-2">{{ stiver.date_created }}</a>
           </font>
         </h2>
         <div class="article-metadata">
         </div>
           <font font size='2'>
             <small class="text-muted ml-2">{{ stiver.note }}</small>
           </font>
       </div>
     </div>
   </article>
   {% endfor %}


   {% if is_paginated %}
     {% if page_obj.has_previous %}
       <a class="btn btn-outline-info mb-4" href="?page=1">首页</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">前页</a>
     {% endif %}

     {% for num in page_obj.paginator.page_range %}
       {% if page_obj.number == num %}
         <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
         <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% endif %}
     {% endfor %}

     {% if page_obj.has_next %}
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">后页</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">末页</a>
     {% endif %}
   {% endif %}

{% endblock content %}
