<!DOCTYPE html>
{% load static %}
<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en-us">

<head>
   <meta charset="utf-8">
   <title>主页</title>

   <!-- mobile responsive meta -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
   <meta name="description" content="This is meta description">
   <meta name="author" content="Themefisher">

   <!-- theme meta -->
   <meta name="theme-name" content="logbook-bulma" />

   <!-- plugins -->
   <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2" style="font-display: optional;">
   <link rel="stylesheet" href="{% static 'blog/plugins/bulma/bulma.min.css' %}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap" media="screen">

   <link rel="stylesheet" href="{% static 'blog/plugins/themify-icons/themify-icons.css' %}">
   <link rel="stylesheet" href="{% static 'blog/plugins/slick/slick.css' %}">

   <!-- Main Stylesheet -->
   <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

   <!--Favicon-->
   <link rel="shortcut icon" href="{% static 'blog/images/favicon.png' %}" type="image/x-icon">
   <link rel="icon" href="{% static 'blog/images/favicon.png' %}" type="image/x-icon">
</head>

<body>
<!-- navigation -->
<header class="is-sticky-top bg-white border-bottom border-default">
   <div class="container">

      <nav class="navigation navbar is-white">
         <a class="navbar-brand is-inline-flex ml-0 is-align-items-center" href="{% url 'blog-home' %}">
            <img src="{% static 'blog/images/logo.png' %}" alt="logo">
         </a>
         <button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
         </button>

         <ul class="navbar-end navbar-menu" id="navigation">
            <li class="navbar-item">
               <a class="navbar-link is-arrowless" href="{% url 'post-create'%}">新的想法</a>
            </li>

            <li class="navbar-item has-dropdown is-hoverable has-active">
               <a class="navbar-link">图片欣赏 <small class="ti-angle-down ml-1"></small></a>
               <div class="navbar-dropdown">
                  <a class="navbar-item" href="{% url 'moments-index' %}">展示图床</a>
                  <a class="navbar-item" href="{% url 'moments-home' %}">专题</a>
                  <a class="navbar-item" href="{% url 'person-home' %}">人物</a>
                  <a class="navbar-item" href="{% url 'event-home' %}">事件</a>
               </div>
            </li>

            <li class="navbar-item has-dropdown is-hoverable has-active">
               <a class="navbar-link">左脑<small class="ti-angle-down ml-1"></small></a>
               <div class="navbar-dropdown">
                 <a class="navbar-item" href="{% url 'plan-home' %}">任务系统</a>
                 <a class="navbar-item" href="{% url 'penny-home' %}">记账功能</a>
                 <a class="navbar-item" href="{% url 'flight-home' %}">航班登机</a>
                 <a class="navbar-item" href="{% url 'health-home' %}">睡眠统计</a>
                 <a class="navbar-item" href="{% url 'company-home' %}">客户信息</a>
               </div>
            </li>
            <li class="navbar-item has-dropdown is-hoverable has-active">
               <a class="navbar-link">右脑 <small class="ti-angle-down ml-1"></small></a>
               <div class="navbar-dropdown">
                  <a class="navbar-item" href="{% url 'blog-home' %}">想法</a>
                  <a class="navbar-item" href="{% url 'blog-about' %}">关于</a>
                  <a class="navbar-item" href="{% url 'moments-index' %}">图片欣赏</a>
               </div>
            </li>
            <li class="navbar-item">
               <select class="m-2 is-borderless" id="select-language">
                  <option id="en" value="about/" selected>En</option>
                  <option id="fr" value="fr/about/">Fr</option>
               </select>
            </li>

            <li class="navbar-item">
               <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
            </li>

            <!-- search -->
            <div class="search">
               <div class="search-wrapper">
                  <form action="javascript:void(0)" class="h-100">
                     <input class="search-box pl-4" id="search-query" name="s" type="search" placeholder="Type &amp; Hit Enter...">
                  </form>
                  <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
               </div>
            </div>
         </ul>
      </nav>
   </div>
</header>
<!-- /navigation -->

<section class="section">
	<div class="container">
		<div class="columns is-desktop is-multiline">
			<div class="column is-8-desktop">
        {% for post in posts %}
				<article class="columns is-multiline is-justify-content-center mb-6">
					<div class="column is-12">
						<!--div class="post-slider">
							<img loading="lazy" src="{% static 'blog/images/post/post-6.jpg' %}" class="" alt="post-thumb">
							<img loading="lazy" src="{% static 'blog/images/post/post-1.jpg' %}" class="" alt="post-thumb">
							<img loading="lazy" src="{% static 'blog/images/post/post-3.jpg' %}" class="" alt="post-thumb">
						</div-->
					</div>
					<div class="column is-12">
						<h3><a class="post-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
						<ul class="list-inline post-meta mb-4">
							<li class="list-inline-item"><i class="ti-user mr-2"></i>
								<a href="{% url 'user-posts' post.author.username %}">{{ post.author}}</a>
							</li>
							<li class="list-inline-item">Date : {{ post.date_posted}}</li>
							<li class="list-inline-item">Categories : <a href="#!" class="ml-1">Photography </a>
							</li>
              {% for tag in post.tags.all %}
							<li class="list-inline-item">Tags : <a href="{% url 'post-tagged' tag.id %}" class="ml-1">#{{ tag }} </a>
							</li>
              {% endfor %}
						</ul>
            {% if post.content|length > 1000 %}
              <p class="article-content" style="float:left;">{{ post.content|truncatechars:100 }}</p>
            {% else %}
              <p class="article-content" style="float:left;">{{ post.content }}</p>
            {% endif %}
             <a href="{% url 'post-detail' post.id %}" class="btn btn-outline-primary">查看更多</a>
					</div>
				</article>
        {% endfor %}
			</div>
			<aside class="column is-4-desktop">
        <div class="widget">
          <h5 class="widget-title"><span>页码</span></h5>
          {% if is_paginated %}
            {% if page_obj.has_previous %}
              <a class="btn btn-outline-info mb-4" href="?page=1">首页</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">前页</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">后页</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">尾页</a>
            {% endif %}
          {% endif %}
        </div>
				   <!-- Search -->
   <div class="widget">
      <h5 class="widget-title"><span>搜索</span></h5>
      <form action="javascript:void(0)" class="widget-search">
         <input id="search-query2" name="s" type="search" placeholder="Type &amp; Hit Enter...">
         <button type="submit"><i class="ti-search"></i>
         </button>
      </form>
   </div>
   <!-- categories -->
   <div class="widget">
      <h5 class="widget-title"><span>Categories</span></h5>
      <ul class="list-unstyled widget-list">
         <li><a href="#!" class="is-flex">Four seasone
               <small class="ml-auto">(1)</small></a>
         </li>
         <li><a href="#!" class="is-flex">Newyork city
               <small class="ml-auto">(2)</small></a>
         </li>
         <li><a href="#!" class="is-flex">Photobooth
               <small class="ml-auto">(1)</small></a>
         </li>
         <li><a href="#!" class="is-flex">Photography
               <small class="ml-auto">(2)</small></a>
         </li>
         <li><a href="#!" class="is-flex">Videography
               <small class="ml-auto">(1)</small></a>
         </li>
      </ul>
   </div>
   <!-- tags -->
   <div class="widget">
      <h5 class="widget-title"><span>Tags</span></h5>
      <ul class="list-inline widget-list-inline">
        {% for mt in common_tags %}
         <li class="list-inline-item"><a href="{% url 'post-tagged' mt.id %}">#{{mt}}</a>
         </li>
        {% endfor %}
      </ul>
   </div>
   <!-- latest post -->
   <div class="widget">
      <h5 class="widget-title"><span>最近的文章</span></h5>
      <!-- post-item -->
      <ul class="list-unstyled widget-list">
         <li class="media widget-post is-align-items-center">
            <a href="post-elements.html">
               <img loading="lazy" src="{% static 'blog/images/post/post-6.jpg' %}">
            </a>
            <div class="ml-4">
               <h5 class="h6 mb-0"><a href="post-elements.html">现在还没啥文章可以看的</a></h5>
               <small>Nov 12, 2023</small>
            </div>
         </li>
      </ul>
   </div>
			</aside>
		</div>
	</div>
</section>

   <footer class="section-sm pb-0 border-top border-default">
      <div class="container">
         <div class="columns is-multiline is-justify-content-space-between">
            <div class="column is-3-desktop">
               <a class="mb-5 is-block" href="">
                  <img class="" width="150px" src="images/logo.png" alt="LogBook">
               </a>
               <p>这里还没有什么内容。</p>
            </div>

            <div class="column is-2-widescreen is-3-desktop is-6">
               <h6 class="mb-4">Quick Links</h6>
               <ul class="list-unstyled footer-list">
                  <li><a href="about.html">About</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="privacy-policy.html">Privacy Policy</a></li>
                  <li><a href="terms-conditions.html">Terms Conditions</a></li>
               </ul>
            </div>

            <div class="column is-2-widescreen is-3-desktop is-6">
               <h6 class="mb-4">Social Links</h6>
               <ul class="list-unstyled footer-list">
                  <li><a href="#">facebook</a></li>
                  <li><a href="#">twitter</a></li>
                  <li><a href="#">linkedin</a></li>
                  <li><a href="#">github</a></li>
               </ul>
            </div>

            <div class="column is-3-desktop">
               <h6 class="mb-4">Subscribe Newsletter</h6>
               <form class="subscription" action="javascript:void(0)" method="post">
                  <div class="is-relative">
                     <i class="ti-email email-icon"></i>
                     <input type="email" class="input" placeholder="Your Email Address">
                  </div>
                  <button class="btn btn-primary w-100 rounded mt-2" type="submit">Subscribe now</button>
               </form>
            </div>
         </div>
         <div class="scroll-top">
            <a href="javascript:void(0);" id="scrollTop"><i class="ti-angle-up"></i></a>
         </div>
         <div class="has-text-centered">
            <p class="content">&copy; 2020 - Design &amp; Develop By <a href="https://themefisher.com/" target="_blank">Themefisher</a></p>
         </div>
      </div>
   </footer>


   <!-- JS Plugins -->
   <script src="{% static 'blog/plugins/jQuery/jquery.min.js' %}"></script>
   <script src="{% static 'blog/plugins/slick/slick.min.js' %}"></script>

   <!-- Main Script -->
   <script src="{% static 'blog/js/script.js' %}"></script>

</body>
</html>
