{% extends 'blog/base.html' %}
{% block content %}
<img src="/media/moment_pics/IMG_0889.JPG" class="d-block w-100" alt="...">
<img src="/media/moment_pics/IMG_0926.JPG" class="d-block w-100" alt="...">
<img src="/media/moment_pics/IMG_0930.JPG" class="d-block w-100" alt="...">
<img src="/media/moment_pics/IMG_0936.JPG" class="d-block w-100" alt="...">
<img src="/media/moment_pics/IMG_0965.JPG" class="d-block w-100" alt="...">
<img src="/media/moment_pics/IMG_1002.JPG" class="d-block w-100" alt="...">

{% endblock content %}
