{% extends 'blog/base.html' %}
{% block content %}
    <!-- here is the article style starts -->
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <div style="width:80px; float:left;">
              <figure>
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
              </figure>
            </div>

            <div class="">
              <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author}}</a>
              <small class="text-muted">{{ object.date_posted}}</small>
              <h2 class="article-title">{{ object.title }}</h2>
            </div>
          </div>

          <p class="article-content" style="float:left;">{{ object.content}}</p>
      </div>
      </article>

      {% if object.author == user %}
      <article class="media content-section">
        <div class="media-body" >
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">修改</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">删除</a>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog-home' %}">返回</a>
        </div >
      </article>
      {% endif %}
    <!-- here is the article style ends -->
{% endblock content %}
