{% extends 'blog/base.html' %}
{% block content %}
   <article class="media content-section">
     <div class="media-body">
       <div class="article-title">
         <legend>专题序号：{{ collection.id }} - 专题名称：{{collection.collection_name}}</legend>
         <div class="article-metadata">
           {% if collection.author == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'collection-update' collection.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'collection-delete' collection.id %}">Delete</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'collection-add' 'collection' collection.id %}">Add</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'moments-home' %}">Back</a>
           {% else %}
           <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'moments-home' %}">
             权限不足，无法对该专题进行修改，请联系管理员！
           </a>
           {% endif %}
         </div>
       </div>
       <div class="">
         <!--small class="text-muted mr-3">专题描述：{{ collection.discription }}</small-->
         <small class="text-muted mr-3">专题点滴：{{ collection.note }}</small>
         <div class="">
           <small class="text-muted mr-3">专题作者：{{ collection.author }}</small>
           <small class="text-muted mr-3">创建时间：{{ collection.date_created }}</small>
         </div>
       </div>

       {% if collection.cover_image.url != '' %}
       <div class="article-metadata">
          <legend >封面人物</legend>
            <img class="img-thumbnail" src="{{ collection.thumbnail.url }}" alt="">
            <!--div class="">
              <p class="mr-2" >图片描述：{{ collection.note }}</p>
            </div-->

          <legend>专题图片</legend>
            {% for photo in photos %}
              <img class="img-thumbnail" src="{{ photo.thumbnail.url }}" alt="">
              <div class="">
                <a class="mr-2" href="{% url 'collection-image-detail' photo.id %}">序号:{{ photo.id }}</a>
                <a class="mr-2" href="{% url 'collection-image-detail' photo.id %}">图片描述：{{ photo.story }}</a>
              </div>
            {% endfor %}
       </div>
       {% endif %}
     </div>
   </article>

{% endblock content %}
