{% extends 'blog/base.html' %}
{% block content %}
   <article class="media content-section">
     <div class="media-body">
       <div class="article-title">
         <h2>图片序号：<a class="mr-2" href="#">{{ info.id }}</a>
         </h2>
         <div class="article-metadata">
           {% if info.event.author == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-image-update' info.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-image-delete' info.id %}">Delete</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-detail' info.event.id %}">Back</a>
           {% else %}
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-detail' info.event.id %}">
              权限不足，无法对该专题进行修改，请联系管理员！
            </a>
           {% endif %}
         </div>
       </div>

       <div class="">
         <a class="text-muted mr-3">专题作者：{{ info.event.author }}</a>
         <a class="text-muted mr-3">更新时间：{{ info.update_time }}</a>
       </div>

       <div class="">

            {% for photo in photos %}
              <!--a class="mr-2" href="{% url 'person-image-detail' photo.id %}">{{ photo.id }}</a-->
              <img class="img-thumbnail" src="{{ photo.thumbnail.url }}" alt="">
              <p>{{ photo.story }}</p>
            {% endfor %}

       </div>
     </div>
   </article>

{% endblock content %}
