{% extends 'blog/base.html' %}
{% block content %}
  <article class="media content-section">
    <a class="btn btn-outline-secondary ml-2" href="{% url 'event-create'%}">新的事件</a>
    <a class="btn btn-outline-secondary ml-2" href="{% url 'moments-index'%}">图片鉴赏</a>
  </article>

  {% for event in events %}
   <article class="media content-section">
     <div class="media-body">
       <div class="article-title">
         <h2>
           <font font size='5'>
           <a class="article-title mr-2" href="{% url 'event-detail' event.id %}">{{ event.event_name }}</a>
           </font>

           <font font size='2'>
             <small class="article-title">created by</small>
             <small class="text-muted ml-2">{{ event.author }} @ {{ event.date_created }}</small>
           </font>
         </h2>
         <div class="article-metadata">

         </div>
         <img class="img-thumbnail" src="{{ event.thumbnail.url }}" alt="">
       </div>
       <div class="">
         <small class="mr-2">{{ event.note }}</small>
         <!--small class="text-muted mr-3">{{ event.note }}</small-->
       </div>
     </div>
   </article>
   {% endfor %}


   {% if is_paginated %}
     {% if page_obj.has_previous %}
       <a class="btn btn-outline-info mb-4" href="?page=1">首页</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">前页</a>
     {% endif %}

     {% for num in page_obj.paginator.page_range %}
       {% if page_obj.number == num %}
         <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
         <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% endif %}
     {% endfor %}

     {% if page_obj.has_next %}
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">后页</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">末页</a>
     {% endif %}
   {% endif %}

{% endblock content %}
