{% extends 'blog/base.html' %}
{% block content %}
  <article class="media content-section">
    <a class="btn btn-outline-secondary" href="{% url 'plan-create' %}">新的任务</a>
    <a class="btn btn-outline-secondary ml-2" href="{% url 'completed-plan-home' %}">完成任务{{ completed_plans_num }}</a>
  </article>

  {% for plan in plans %}
  {% if plan.plan_state == 0 %}
   <article class="media content-section">
     <div class="media-body">
           <h2>
             <font font size=3 >
               <!--span class="oi" data-glyph="media-pause" title="media-pause" aria-hidden="true"></span-->
               <a class="article-title mr-2" href="{% url 'plan-detail' plan.id %}">{{ plan.plan_detail }}</a>
             </font>
           </h2>
           <div class="article-metadata"></div>

         <font font size = '3'>
           <small class="text-muted mr-1">By {{ plan.author }}</small>
           <small class="text-muted mr-1">@ {{ plan.date_created }}</small>
         </font>
         <div class="" style="display:flex">
           {% for tag in plan.tags.all %}
           <a href="{% url 'plan-tagged' tag.id %}" class="mr-1 badge badge-info">#{{ tag }}</a>
           {% endfor %}
         </div>
     </div>

   </article>
   {% endif %}
   {% endfor %}

   {% if completed_plans %}
   <h2>
     <font font size=5 >
       <a class="article-title ml-2" href="">已完成的任务：</a>
     </font>
   </h2>
   {% endif %}
   {% for plan in completed_plans %}
   <article class="media content-section">
     <div class="media-body">
           <h2>
             <font font size=3 >
               <!--span class="oi" data-glyph="media-pause" title="media-pause" aria-hidden="true"></span-->
               <span class="oi" data-glyph="check"></span>
               <a class="article-title mr-2" href="{% url 'plan-detail' plan.id %}">{{ plan.plan_detail }}</a>
             </font>
           </h2>
           <div class="article-metadata"></div>

         <font font size = '3'>
           <small class="text-muted mr-1">By {{ plan.author }}</small>
           <small class="text-muted mr-1">@ {{ plan.date_created }}</small>
         </font>
         <div class="" style="display:flex">
           {% for tag in plan.tags.all %}
           <a href="{% url 'plan-tagged' tag.id %}" class="mr-1 badge badge-info">#{{ tag }}</a>
           {% endfor %}
         </div>
     </div>
   </article>
   {% endfor %}


   {% if is_paginated %}
     {% if page_obj.has_previous %}
       <a class="btn btn-outline-info mb-4" href="?page=1">首页</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">前页</a>
     {% endif %}

     {% for num in page_obj.paginator.page_range %}
       {% if page_obj.number == num %}
         <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
         <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% endif %}
     {% endfor %}

     {% if page_obj.has_next %}
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">后页</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">末页</a>
     {% endif %}
   {% endif %}

{% endblock content %}
