{% extends 'blog/base.html' %}
{% block content %}
   <article class="media content-section">
     <div class="media-body">
       <div class="article-title">
         <h2><a class="article-title mr-2" href="#">{{object.plan_detail}}</a></h2>
         <div class="article-metadata">
           <small class="text-muted mr-3">{{ object.date_created }}</small>
           <small class="text-muted mr-3">by {{ object.author }}</small>
           <div class="" style="display:flex">
             {% for tag in plan.tags.all %}
             <a href="{% url 'plan-tagged' tag.id %}" class="mr-1 badge badge-info">#{{ tag }}</a>
             {% endfor %}
           </div>
         </div>
       </div>
       <div class="">
         {% if object.author == user %}
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'plan-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'plan-delete' object.id %}">Delete</a>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'plan-home' %}">Back</a>
          {% if object.plan_state == 0 %}
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'plan-check' object.id %}">Check</a>
          {% else %}
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'plan-uncheck' object.id %}">Uncheck</a>
          {% endif %}
         {% endif %}
       </div>
     </div>
   </article>
{% endblock content %}
